<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Report</title>
  <style>
   body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background: linear-gradient(to left, black, gold);
}

h1 {
  color: black;
  text-align: center; /* Center-align the heading */
}

.report-container {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the container horizontally */
  color: gold; /* Gold text color for better contrast */
  text-align: center; /* Center-align the content within the container */
  display: inline-block; /* Make the container inline-block */
  width: auto; /* Automatically adjust the width based on content */
}
  </style>
</head>
<body>
  <h1>Patient Report</h1>

  <div class="report-container">
    <p>patientName: Waliyullahi Lukman</p>
    <p>age: 30</p>
    <p>gender: Male</p>
    <p>hospitalName:  Decagon Clinic</p>
    <p>weight: 70 kg</p>
    <p>height: 175 cm</p>
    <p>bloodGroup: O+</p>
    <p>genotype: AA</p>
    <p>bloodPressure: 120/80 mmHg</p>
    <p>HIV_status: Negative</p>
    <p>hepatitis: Negative</p>
    <p>reportId: R789012</p>
    <p>doctorId: D567890</p>
  </div>
</body>
</html>